*.swp
*.swo
*.mo
.coverage
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.pyd
*.so
*.tmp*
.DS_Store
.idea
*~
_photos
*.scssc
tags.json
data/sessions/*
#*.json
*.log
*.dat
*.che
development.ini
sitesettings.py
config/main.php
template_c
demo/dao/test/*
dao/forcent/*
dao/test/*
dao/whjxc/*
dao/medical/*
templates_c
Thumbs.db
_data/static/upload/
cache/
sh/
*.min.js
*.min.css
gitkeek/
rsa/*
demo/*
*demo.php
.buildpath
.metadata/*
.project
.settings/*
.tags
.tags_sorted_by_file
tags.bat